# ignore test data
data/
*.fit

# Document files
docs/*.log
docs/*.aux
docs/*.out
docs/*.toc
docs/*.fls
docs/*.fdb_latexmk
docs/*.synctex.gz
docs/*.nav
docs/*.snm
docs/*.xdv


# ignore db file
# endurance_life.db

# ignore Python cache
__pycache__/
*.pyc